{% extends "base.html" %}

{% block content %}
<div class="container content">
     <div class="row-fluid">
     	<div class="span7">
     		<div class="myself">

     			<h5>我是一名程序员</h5>
     			<h5>来自南方沿海的一个小城镇，工作在广州</h5>
     			<h5>每天要搭两趟公交和两趟地铁上下班</h5>
     			<h5>路上会遇到形形色色的人</h5>
     			<h5>每个人都匆匆忙忙的在赶路</h5>
     			<h5>我总是在思考</h5>
     			<h5>我们该选择怎样的生活 怎样的人生</h5>
     			<h5>......</h5>
     		</div>
     	</div>
        <div class="span5">
                <div class="control-group">
                    <div class="about_wrap">
                        <img class="about" src="/static/img/me.jpg" />
                    </div>
                </div>
                <div clasa="control-group">
                    <span class="contact">
                    	<a href="https://github.com/koon-kai" title="github"><i class="icon-github icon-2x"></i></a>
                    	<a href="" title="twitter"><i class="icon-twitter icon-2x"></i></a>
                    	<a href="http://weibo.com/chokefans" title="weibo"><i class="icon-weibo icon-2x"></i></a>
                    	<a href="" title="facebook"><i class="icon-facebook-sign icon-2x"></i></a>
                    	<a href="https://plus.google.com/105095982936797355394/" title="google+"><i class="icon-google-plus icon-2x"></i></a>
                    	<a href="mailto:koon.kaip@gmail.com" title="gmail"><i class="icon-envelope icon-2x"></i></a>
                    </span>
                </div>
        </div>
    </div>
</div>
{% end %}
