<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Welcome | LovePhoto. {% block title %}{% end %}</title>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" charset="utf-8" />
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery.scrollTo.min.js"></script>
    <style>.content {padding-top: 70px;}</style>
	{% block script %}{% end %}
	{% block style %}{% end %}
  </head>
  <body>
    {% block topbar %}
	<div class="navbar navbar-fixed-top" style="opacity:0.85;">
      <div class="navbar-inner">
        <div class="container">
          <a  style="margin-top:5px;" class="brand" href="/">Love Photo</a>
          <!--<a style="margin-top:5px;" class="brand" href="/"><img style="height:80px;" src="/static/img/logo5.png"/></a>-->
          <div class="nav-collapse collapse">
			<ul class="nav pull-right">
                <li style="margin-top:5px;"><a href="/share"><i class="icon-share" style="margin-right:5px;"></i>分享你的每一瞬间</a></li>
               <!--<li class=""><a href="/connect/sina"><img src="/static/img/login_weibo.png"/></a></li>-->
               {% if current_user %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{{ json_decode(current_user)['nickname'] }}">
                        <img  style="width:35px;height:30px;" src="{{ json_decode(current_user)['avatar'] }}" /><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li class="divider"></li>-->
                        <li><a href="/share"><i class="icon-fixed-width icon-upload-alt" style="margin-right:4px;"></i>上传图片</a></li>
                        <li><a href="/user/photos/{{ json_decode(current_user)['uid'] }}"><i class="icon-fixed-width icon-camera" style="margin-right:4px;"></i>我的照片</a></li>          
                        <li><a href="/logout"><i class="icon-fixed-width icon-off" style="margin-right:4px;"></i>退出登录</a></li>
                    </ul>
                  </li>
               {% else %}
                    <!--
                    <li>
                        <a href="/connect/sina" title="使用微博帐号登录"><i style="margin-top:3px;" class="icon-weibo icon-2x" /></i> </a>
                    </li>
                    -->
                    <li>
                        <a href="/connect/douban" title="使用豆瓣帐号登录"><img style="margin-top:3px;" src="/static/img/login_douban.png" /></a>
                    </li>
               {% end %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% end %}  
    {% block content %}{% end %} 
    {% block footer %}
	   <div class="footer">
           © 2013 LovePhoto. Power by <a href="http://www.tornadoweb.org/" target="_blank">tornado</a>  </br>
           <a href="/about" target="_blank">@ About me</a></br>
           @ version: 0.0.1 </br>
     </div>  
    {% end %} 
    <a id="goTop" class="invisible" title="返回顶部" href="javascript:void(0)" onfocus='this.blur()'>回顶部</a>
  </body>
</html>
