{% extends "base.html" %}

{% block script %}
<script src="/static/js/jquery.infinitescroll.dev.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
$(function() {
   
    	$('#photo_container').masonry({
      		iitemSelector: '.photo',
            //isAnimated:true,
      	    animationOptions: {
        	duration: 400
     	    }
        });
        $('#photo_container').infinitescroll({
        		navSelector: "div.page .pages",
        		nextSelector: "div.page .pages a:first",
        		itemSelector: ".photo",
                //loadingImg : '/img/loading.gif',
                //loadingText : '正在加载...',
                //donetext : '已经加载完了...',
                loading:{
                    finishedMsg:"已经加载完了...",
                    img:"/static/img/loading.gif",
                    msgText:"正在加载...",
                },
                animate: true,
        		debug : false
        },function(newElements) {
        	var $newElems = $(newElements);
        	$('#photo_container').masonry('appended', $newElems);
        });

	
        //判断浏览器
        //if(window.ActiveXObject){//若是ie浏览器
        //    jQuery('#detect').show();
        //}
})
</script>
{% end %}

{% block content %}
<div class="wrapper" style="width: 1244px;">
    <div id="intro" class="sheet">
        <span class="desc">
            <i class="icon-camera"></i> 用你的镜头 留住美好的瞬间
            <i style="margin-left:20px;" class="icon-gittip"></i>
            LovePhoto 分享你的摄影作品 
        </span>
        <span class="stat">已上传照片{{ photo_count }}张</span>
    </div>
</div>


<div class="container index-content">
    <div id="detect">
         请使用Firefox 或者 Chrome 浏览器，LovePhoto暂不支持使用IE内核的浏览器（包括360浏览器、世界之窗等）。
    </div>
	<div class="row">
		<div class="span12">
			<div id="photo_container">
                {% for p in photo_list %}
				<div class="photo">
					<div class="img_info">
                        <a href="/show/photo/{{ p['id'] }}" title="点击查看图片详情" >
                            <img src="/get/index_thumb/{{p['height'] }}/{{ p['pid']}}" style="height:{{ p['height'] }}px;" />
						</a>
					</div>
					<div class="owner">
						<div class="name">
                            <img src="{{ p['user_avatar'] }}" />
                            <a href="/user/photos/{{ p['uid']}}">{{ p['user_name'] }}</a>
						</div>
                        <div class="description">{{ p['desc']  }}</div>
						<div class="social">
                            <a appkey="2028891700" class="share_button" count="n" onclick="javascript:share(this)" pic="http://lovephoto.koonkai.me/get/index_thumb/{{p['height'] }}/{{ p['pid']}}" size="small" title="分享{{p['user_name'] }}的摄影作品" url="http://lovephoto.koonkai.me/show/photo/{{ p['id'] }}">
								<i class="icon-weibo"></i>
							</a>
                            <a class="commented" href="/show/photo/{{ p['id'] }}">
								<div class="icon-comment"></div>
							</a>
                            <span>{{ p['comment_num'] }}</span> 
                            <a href="/photo/like/{{ p['id'] }}" onclick="like(this);return false" class="like">
                                <i class="icon-heart" id="{{ p['id'] }}"></i>
							</a>
                            <span>{{ p['like'] }}</span>
						</div>
					</div>
				</div>
                {% end %}
			</div>
		</div>
	</div>

	<!--  -->
	 <div class="page">
    	<div class="pages">
		    <a href="/load?page=2"></a>
        </div>
	</div>
</div>
{% end %}

