{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css" charset="utf-8" />
{% end %}

{% block script %}
<script src="/static/js/lightbox-2.6.min.js"></script>
{% end %}

{% block content %}
<div class="container content">
    <div class="row-fluid">
        <div class="span2">
            <table class="table">
                <tr>
                    <td>
                        <div class="name">
                            <img src="{{ pi['user']['avatar'] }}" />
                            <h5>{{ pi['user']['name'] }}</h5>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div  class="span10">
                <div class="user_photos">
                {% for p in pi['ps'] %}
                    <a href="/get/photo/{{ p['pid'] }}" data-lightbox="user_photos" title="点击查看大图" >
                        <img id="{{ p['_id']}}" src="/get/thumb_photo/{{ p['pid'] }}" />
                    </a>
                    {% if current_user %}
                        {% if pi['user']['user_id'] == json_decode(current_user)['uid']%}
                            <a href="#" name="{{p['_id']}}" onclick="removePhoto(this);return false" > <i class="icon-remove"></i></a>
                        {% end %}
                    {% end %}
                {% end %}
                </div>
        </div>
    </div>    
</div>
{% end %}
